{% extends 'base.html' %}


{% block titre %}
    Assemblée EAUX PAISIBLES|comptes
{% endblock titre %}


{% block hamburger %}
    <div class="menu-btn">
        <i class="fas fa-bars"></i>
        <i class="fas fa-times"></i>
    </div>
{% endblock hamburger %}


{% block sidebar %}
    {% include 'layouts/_sidebar.html' %}
{% endblock sidebar %}



{% block content %}
    <div class="wrapper-head-liste">
        <div class="head-liste">
            <h2>
                {% if compte %}
                Ajouter un nouveau utilisateur
                {% endif %}
            </h2>
            <h4>Comptes</h4>
        </div>
    </div>
    <div class="wrapper-liste">
        <div class="row">
            <div class="col-md-2">
                <div class="side-liste">
                    <div class="item">
                        <a href="">
                            <i class="fas fa-user"></i>
                            Profile
                        </a>
                    </div>
                    <div class="item">
                        <a href="{% url 'user_comptes' %}">
                            <i class="fas fa-users"></i>
                            Comptes
                        </a>
                    </div>
                    <div class="item">
                        <a href="{% url 'user_logout' %}">
                            <i class="fas fa-sign-out-alt"></i>
                            Se deconnecter
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="wrapper-form">
                    {% if messages %}
                    {% include 'partials/messages_request.html' %}
                    {% endif %}

                    {% if has_error %}
                    <ul class="form_erros">
                        {{ errors }}
                    </ul>
                    {% endif %}

                    <form action="{% url 'user_register' %}" method="post">
                        {% csrf_token %}
                        {% include 'formulaire/form.html' %}
                        {% include 'partials/bouton_form.html' %}
                    </form>

                </div>
            </div>
            <div class="col-md-2">
                <div class="recent-add">
                    <div class="text-titre">
                        <h2>recement ajouter</h2>
                    </div>
                    <div class="item">
                        <a href="">
                            <i class="fas fa-user"></i>
                            Profile
                        </a>
                    </div>
                    <div class="item">
                        <a href="{% url 'user_comptes' %}">
                            <i class="fas fa-users"></i>
                            Comptes
                        </a>
                    </div>
                    <div class="item">
                        <a href="{% url 'user_logout' %}">
                            <i class="fas fa-sign-out-alt"></i>
                            Se deconnecter
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}